.l-fragment{
    max-width: 1300px;
    min-width: 250px;
    margin: 0 auto;
}
.l-full{
    min-width: 100%;
}

.l-wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8em 4em;
    max-width: 1400px;
    margin: 8em auto;
    min-height: 500px;
    position: relative;
}
