.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 10px;
  overflow: hidden;
  color: white;
}

.header--block {
  line-height: 45px;
}

.nav {
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
  font-size: 1.5em;
  color: var(--white-color);
  overflow: hidden;
}

.nav--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav--select {
  margin-left: 5px;
  text-align: center;
  border: solid 1px var(--red-color);
  border-radius: 50px;
}

.nav--search {
  padding: 10px;
  background-color: transparent;
  border-radius: 50px;
  -webkit-box-shadow: 10px 8px 15px var(--yellow-Dshadow), -10px -8px 15px var(--yellow-Lshadow);
          box-shadow: 10px 8px 15px var(--yellow-Dshadow), -10px -8px 15px var(--yellow-Lshadow);
}

.pokeCard {
  min-width: 400px;
  min-height: 400px;
  -webkit-box-shadow: 40px 40px 70px var(--dark-shadow), -40px -40px 70px var(--ligth-shadow);
          box-shadow: 40px 40px 70px var(--dark-shadow), -40px -40px 70px var(--ligth-shadow);
  border-radius: 50px;
  background-color: transparent;
  overflow: hidden;
  padding: 3em;
  cursor: pointer;
}

.pokeCard--image {
  min-height: 215px;
  max-height: 215px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pokeCard--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  margin: 1em 0;
  text-transform: uppercase;
}

.pokeCard--types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.pokeCard--types--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 12px var(--dark-shadow), -6px -6px 12px var(--ligth-shadow);
          box-shadow: 6px 6px 12px var(--dark-shadow), -6px -6px 12px var(--ligth-shadow);
}

.button {
  font-size: 2em;
  padding: 0.5em;
  background-color: transparent;
  border-radius: 0.5em;
  -webkit-box-shadow: 8px 8px 15px var(--dark-shadow), -8px -8px 15px var(--ligth-shadow);
          box-shadow: 8px 8px 15px var(--dark-shadow), -8px -8px 15px var(--ligth-shadow);
}

.font-tiny {
  font-size: 0.4em;
}

.font-2 {
  font-size: 2em;
}

.font-3 {
  font-size: 3em;
}

.font-4 {
  font-size: 4em;
}

.font-5 {
  font-size: 5em;
}

.font-6 {
  font-size: 6em;
}

.font-7 {
  font-size: 7em;
}
/*# sourceMappingURL=modules.css.map */