.is-hoverCard:hover img{
    filter: unset;
}
.is-active:active{
    box-shadow: 8px 8px 15px var(--dark-shadow),
    -8px -8px 15px var(--ligth-shadow);
}

.isHeader{
    color: white;
    box-shadow: 40px 40px 75px var(--blue-Dshadow),
    -40px -40px 75px var(--blue-Lshadow);
}

.is-ActiveInput:focus{
    outline: none;
    box-shadow: 0px 0px 15px var(--yellow-Dshadow),
        0px 0px 15px var(--yellow-Lshadow) ,
        inset 10px 8px 15px var(--yellow-Dshadow),
        inset -10px -8px 15px var(--yellow-Lshadow);
}

.is-hidden{
    display: none;
}

.is-disabled{
    pointer-events: none;
}